<ol class="breadcrumb">
    <li>
        <a href="index.html">Home</a>
    </li>
    <li class="active">#</li>
</ol><!-- ******Header****** --><!--<header class="header text-center">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <img src="assets/images/existdb-logo.png" alt="eXist-db" style="height:1em"/>
                <span class="text-bold">Documentation</span>
            </h1>
        </div>--><!--//branding--><!--<ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">Quick Start</li>
        </ol>
    </div>--><!--//container--><!--</header>--><!--//header-->