<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="main">
    <div class="doc-wrapper">
        
    <div data-template="docbook:load">
    
       
            
        <div class="doc-content" data-template="docbook:to-html"/>
            <div class="doc-sidebar hidden-xs">
                <nav id="doc-nav">
                    <div data-template="docbook:toc"/>
                </nav>
            </div>
            <!--  //sidebar  -->
        
                
    </div>
            <!--  //container  -->
    
    </div>
    <!--  //doc-wrapper  -->
</div>