<!-- ******Header****** -->
<header class="header text-center">
  <div class="container">
    <div class="branding">
      <h1 class="logo">
                    <img src="assets/images/existdb-logo.png" alt="exist-db" style="height:1em"/>
                    <span class="text-bold">Documentation</span>
      </h1>
    </div>
    <!--//branding-->
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Components</li>
    </ol>
    <div class="tagline">
      <p>Open source native XML database</p>
    </div>
    <!--//tagline-->
    <div class="social-container">
      <div class="twitter-tweet">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="existdb open source native XML database" data-via="existdb">Tweet</a>
        <script>
          ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + '://platform.twitter.com/widgets.js';
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, 'script', 'twitter-wjs');
        </script>
      </div>
      <!--//tweet-->

    </div>
    <!--//social-container-->
  </div>
  <!--//container-->
</header>
<!--//header-->
