<div class="doc-wrapper">
  <div class="container">
    <div id="doc-header" class="doc-header text-center">
    <h1 class="doc-title"><i class="icon fa fa-paper-plane"></i> Quick Start</h1>
    <div class="meta"><i class="fa fa-clock-o"></i> Last updated: Jan 25th, 2016</div>
  </div><!--//doc-header-->
  <div class="doc-body">
    <div class="doc-content">
      <div class="content-inner">
        <section id="XXX-section" class="doc-section">
          <h2 class="section-title">Installation</h2>
          <div id="xxx"  class="section-block">
            <h3 class="block-title">Step One</h3>
            <p>Lorem ipsum ...</p>

            <div id="xxx-block" class="code-block">
              <h6>HTML Code Example</h6>
              <pre><code class="language-html">
&lt;!DOCTYPE html&gt;</code></pre>
              <p>Lorem ipsum ...</p>
            </div><!--//code-block-->

            <div class="callout-block callout-info">
                <div class="icon-holder">
                    <i class="fa fa-info-circle"></i>
                </div><!--//icon-holder-->
                <div class="content">
                    <h4 class="callout-title">Aenean imperdiet</h4>
                    <p>Sed ut perspiciatis ...</p>
                </div><!--//content-->
            </div><!--//callout-block-->

            <div class="section-block">
                <h6>Basic Table</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--//table-responsive-->
          </div><!--//section-block-->

          <div class="section-block">
              <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <h6>Responsive Video 16:9</h6>
                      <!-- 16:9 aspect ratio -->
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ejBkOjEG6F0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen="true"></iframe>
                      </div> <!-- //embed -->
                  </div> <!--//col-->
                </div> <!--//row-->
              </div><!--//section-block-->
          </div>
        </section><!--//doc-section-->
      </div><!--//content-inner-->
    </div><!--//doc-content-->
  </div><!--//doc-body-->
</div><!--//container-->
</div><!--//doc-wrapper-->
